<div>
    <footer>
        <a href="https://lnu.se/en/"><img src="{{site.url}}/assets/linneu-logo.png" class="logo-footer"></a>
        <h1 class="footer-name">Jesper Landmér Pedersen<br>
            Web Developer Student, LNU</h1>
            <ul class="footer-primary">
                <li><a href="{{site.url}}/index.html">Home</a></li>
                <li><a href="{{site.url}}/projects.html">Projects</a></li>

                <li><a href="{{site.url}}/about.html">About</a></li>
            </ul><!--#nav-primary-->
</footer>
</div>