<div id="header">
    <div class="nav-wrap">
        <div class="nav-title">
            <img src="{{site.url}}/assets/linneu-logo.png" class="logo">
            <h1>Jesper Landmér Pedersen<br>
            Web Developer Student, LNU</h1>
        </div>
        <ul class="nav-primary">
            <li><a href="{{site.url}}/index.html">Home</a></li>
            <li><a href="{{site.url}}/about.html">Projects</a></li>
            <li><a href="{{site.url}}/about.html">About</a></li>
        </ul>
    </div>
</div>