<div class="sidebar">
    <div class="sidebar-outline">
        <p class="sidebar-text">Profile</p>
    </div>
    <img src="{{site.url}}/assets/me.png" class="profile-pic">
    <div class="border-intro border-intro-color">
    <p style="margin-top: -15px; margin-bottom: 40px;">Hi! My name is Jesper, and I'm currently studying Web Development at the Linneaus University, Sweden.</p>
    </div>
        <div class="sidebar-outline">
        <p class="sidebar-text">Contact</p>
    </div>
    <div class="border-intro border-intro-color" style="margin-top: 40px">
    <p><a href="mailto:jp222vq@student.lnu.se"><img src="{{site.url}}/assets/email-icon.png" class="icon"> {{site.email}}</a><br>
        <a href="https://twitter.com/Jeppepeppe94?lang=en"><img src="{{site.url}}/assets/twitter-icon.png" class="icon"> {{site.twitter_username}}</a><br>
            <a href="https://github.com/jesperlandmer"><img src="{{site.url}}/assets/github-icon.png" class="icon"> {{site.github_username}}</a></p>
        </div>
</div>