.content
  width: 80%
  margin: 0 auto
  background-color: #e8e8e8

.post-content
  background-color: #e8e8e8

.site-header
  border-top: 5px solid #424242
  border-bottom: 1px solid #e8e8e8
  min-height: 56px
  position: relative

.wrapper
  max-width: -webkit-calc(800px - (30px * 2))
  max-width: calc(800px - (30px * 2))
  margin-right: auto
  margin-left: auto
  padding-right: 30px
  padding-left: 30px

.post-header
  margin-bottom: 30px

.post-title
  font-size: 42px
  letter-spacing: -1px
  line-height: 1

.post-content
  margin-bottom: 30px
  .post-content h2
    font-size: 32px